\ {
    split_inputs: split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        split_glidepoint: glidepoint_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | LAYER 1 | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
            //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |

            bindings = <
&kp TAB     &kp Q  &kp W  &kp E     &kp R         &kp T                                                     &kp Y          &kp U     &kp I         &kp O       &kp P            &kp SV_A_RING
&kp LCTRL   &kp A  &kp S  &kp D     &kp F         &kp G                                                     &kp H          &kp J     &kp K         &kp L       &kp SV_O_UMLAUT  &kp SV_A_UMLAUT
&kp LSHIFT  &kp Z  &kp X  &kp C     &kp V         &kp B    &none         &mo 1      &mo 2          &none    &kp N          &kp M     &kp SV_COMMA  &kp SV_DOT  &kp SV_MINUS     &kp RIGHT_SHIFT
                          &kp LGUI  &kp LEFT_ALT  &kp ESC  &kp SV_SPACE  &kp ENTER  &kp BACKSPACE  &kp ESC  &kp RIGHT_GUI  &kp RALT  &kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN_ARROW>;
        };

        left {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |       |      |BT_CLR|BTSEL0|BTSEL1|BTSEL2|                                         |      |      |      |      |      |      |
            // |       |      |      |BTSEL3|BTSEL4|      |                                         |      |      |      |      |      |      |
            // |       |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |
            //                       |      |      |      |      |      |      |      |      |      |      |      |      |

            bindings = <
&kt TAB         &none                &none             &kp UP          &kp SV_AMPERSAND   &kp SV_PIPE                                                             &none                 &none              &none      &none  &none  &none
&kp LCTRL       &none                &kp LEFT_ARROW    &kp DOWN_ARROW  &kp RIGHT          &kp SV_ACUTE                                                            &kp SV_DOUBLE_QUOTES  &kp SV_APOSTROPHE  &none      &none  &none  &none
&kp LEFT_SHIFT  &kp SV_LEFT_BRACKET  &kp SV_LESS_THAN  &kp SV_SLASH    &kp SV_LEFT_BRACE  &kp SV_LEFT_PARENTHESIS  &none         &none      &mkp LCLK  &mkp RCLK  &none                 &none              &none      &none  &none  &kp RSHFT
                                                       &kp LEFT_GUI    &kp LEFT_ALT       &kp ESC                  &kp SV_SPACE  &kp ENTER  &kp DEL    &kp ESC    &kp RIGHT_GUI         &kp RALT           &kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp RIGHT LEFT_ARROW>;
        };

        right {
            bindings = <
&kp TAB         &kp SV_N1             &kp SV_N2            &kp SV_N3         &kp SV_N4           &kp SV_N5                                                                   &kp SV_N6             &kp SV_N7            &kp SV_N8  &kp SV_N9  &kp SV_N0  &kp SV_QUESTION
&kp LCTRL       &none                 &none                &none             &none               &kp SV_GRAVE                                                                &kp SV_DOUBLE_QUOTES  &kp SV_SINGLE_QUOTE  &none      &none      &none      &none
&kp LEFT_SHIFT  &kp SV_RIGHT_BRACKET  &kp SV_GREATER_THAN  &kp SV_BACKSLASH  &kp SV_RIGHT_BRACE  &kp SV_RIGHT_PARENTHESIS  &none         &none       &none          &none    &none                 &none                &none      &none      &none      &kp RIGHT_SHIFT
                                                           &kp LGUI          &kp LEFT_ALT        &kp ESC                   &kp SV_SPACE  &kp RETURN  &kp BACKSPACE  &kp ESC  &kp RGUI              &kp RIGHT_ALT        &kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
